<header class="cabecalho">
    <a class="cabecalho__logo" href="#">Logo</a>

        <!-- acessibilidade:
        aria-label - nome do botão
        aria-expanded - estado do menu
        aria-controls - qual elemento é controlado
        aria-hospopup - indica que abre um menu 
        -->
            
    <nav class="menu" data-menu>
        <button class="menu__botao" aria-label="Abrir Menu" aria-haspopup="true" aria-controls="menu-lista"
        aria-expanded="false">
        Menu
            <span class="menu__hamburguer"></span>
        </button>

        <ul class="menu__lista" id="menu-lista">
            <li><a href="#" data-link="home">Home</a></li>
            <li><a href="#" data-link="sobre">Sobre</a></li>
            <li><a href="#" data-link="produtos">Produtos</a></li>
            <li><a href="#" data-link="portifolio">Portfólio</a></li>
            <li><a href="#" data-link="contato">Contato</a></li>
        </ul>
    </nav>
</header>